<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>975110147039-f3glo47fo8731gbd37at0p5rc3qhpfnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975110147039-f3glo47fo8731gbd37at0p5rc3qhpfnl</string>
	<key>API_KEY</key>
	<string>AIzaSyCul_pC-FQQF-lws-enVpwGdeiZf6gfoL0</string>
	<key>GCM_SENDER_ID</key>
	<string>975110147039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.n1xk1-yahoo.Quiet-Corner</string>
	<key>PROJECT_ID</key>
	<string>quiet-corner-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quiet-corner-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975110147039:ios:c6e7c7401c63942d</string>
	<key>DATABASE_URL</key>
	<string>https://quiet-corner-app.firebaseio.com</string>
</dict>
</plist>